<html>
    <head>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body {
              background-color: beige;
            }
        </style>
    </head>
    <body>
        <div class="container"></div>
            <h2><b>Log In</b></h2>    
            <form action="/login" method="POST">
            <div class="form-group">    
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="Username" placeholder="abc@gmail.com" value="{{request.form.Username}}">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" name="Password" placeholder="123456" value="{{request.form.Password}}">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default" value="Login">Submit</button>
            </form>
        </div>
    </body>
</html>
